body{

    margin:0;
    padding:0;
    height:100vh;

    }

#NEW_PROJECT_BUTTON{

    margin-top:10rem;
}

.NEW_PROJECT_INPUTS {

        display:none;

}

#NEW_PROJECT_SUBMIT {

        display:none;
}

#CURRENT_PROJECT_INFO {

        display:none;
}

#ADD_MORE{ 

        display:none;
}

#TODOLIST_SUBMIT{ 

        display:none;

}


#SHORTCUT_BOX{

    background-color: brown;
    width:100%;
    height:15%;
    display:block;
    position:fixed;
        
    }

#RIGHT_BOXES_CONTAINER{
    
    background-color: black;
    width:100%;
    display:block;
    height:100%;
         
    }

#PROJECT_BOX{

    background-color: blue;
    width:100%;
    min-height:50%;
    padding-top:7rem;
    display:block;
    box-sizing:border-box;
      
}

#CALENDAR_BOX{

    background-color: pink;
    width:100%;
    height:50%;
    display:block;

}



